<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style type="text/css">
    :root,
    :host {
      --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Solid";
      --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Regular";
      --fa-font-light: normal 300 1em/1 "Font Awesome 6 Light";
      --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Thin";
      --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
      --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
    }

    svg:not(:root).svg-inline--fa,
    svg:not(:host).svg-inline--fa {
      overflow: visible;
      box-sizing: content-box;
    }

    .svg-inline--fa {
      display: var(--fa-display, inline-block);
      height: 1em;
      overflow: visible;
      vertical-align: -0.125em;
    }

    .svg-inline--fa.fa-2xs {
      vertical-align: 0.1em;
    }

    .svg-inline--fa.fa-xs {
      vertical-align: 0em;
    }

    .svg-inline--fa.fa-sm {
      vertical-align: -0.0714285705em;
    }

    .svg-inline--fa.fa-lg {
      vertical-align: -0.2em;
    }

    .svg-inline--fa.fa-xl {
      vertical-align: -0.25em;
    }

    .svg-inline--fa.fa-2xl {
      vertical-align: -0.3125em;
    }

    .svg-inline--fa.fa-pull-left {
      margin-right: var(--fa-pull-margin, 0.3em);
      width: auto;
    }

    .svg-inline--fa.fa-pull-right {
      margin-left: var(--fa-pull-margin, 0.3em);
      width: auto;
    }

    .svg-inline--fa.fa-li {
      width: var(--fa-li-width, 2em);
      top: 0.25em;
    }

    .svg-inline--fa.fa-fw {
      width: var(--fa-fw-width, 1.25em);
    }

    .fa-layers svg.svg-inline--fa {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }

    .fa-layers-counter,
    .fa-layers-text {
      display: inline-block;
      position: absolute;
      text-align: center;
    }

    .fa-layers {
      display: inline-block;
      height: 1em;
      position: relative;
      text-align: center;
      vertical-align: -0.125em;
      width: 1em;
    }

    .fa-layers svg.svg-inline--fa {
      -webkit-transform-origin: center center;
      transform-origin: center center;
    }

    .fa-layers-text {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform-origin: center center;
      transform-origin: center center;
    }

    .fa-layers-counter {
      background-color: var(--fa-counter-background-color, #ff253a);
      border-radius: var(--fa-counter-border-radius, 1em);
      box-sizing: border-box;
      color: var(--fa-inverse, #fff);
      line-height: var(--fa-counter-line-height, 1);
      max-width: var(--fa-counter-max-width, 5em);
      min-width: var(--fa-counter-min-width, 1.5em);
      overflow: hidden;
      padding: var(--fa-counter-padding, 0.25em 0.5em);
      right: var(--fa-right, 0);
      text-overflow: ellipsis;
      top: var(--fa-top, 0);
      -webkit-transform: scale(var(--fa-counter-scale, 0.25));
      transform: scale(var(--fa-counter-scale, 0.25));
      -webkit-transform-origin: top right;
      transform-origin: top right;
    }

    .fa-layers-bottom-right {
      bottom: var(--fa-bottom, 0);
      right: var(--fa-right, 0);
      top: auto;
      -webkit-transform: scale(var(--fa-layers-scale, 0.25));
      transform: scale(var(--fa-layers-scale, 0.25));
      -webkit-transform-origin: bottom right;
      transform-origin: bottom right;
    }

    .fa-layers-bottom-left {
      bottom: var(--fa-bottom, 0);
      left: var(--fa-left, 0);
      right: auto;
      top: auto;
      -webkit-transform: scale(var(--fa-layers-scale, 0.25));
      transform: scale(var(--fa-layers-scale, 0.25));
      -webkit-transform-origin: bottom left;
      transform-origin: bottom left;
    }

    .fa-layers-top-right {
      top: var(--fa-top, 0);
      right: var(--fa-right, 0);
      -webkit-transform: scale(var(--fa-layers-scale, 0.25));
      transform: scale(var(--fa-layers-scale, 0.25));
      -webkit-transform-origin: top right;
      transform-origin: top right;
    }

    .fa-layers-top-left {
      left: var(--fa-left, 0);
      right: auto;
      top: var(--fa-top, 0);
      -webkit-transform: scale(var(--fa-layers-scale, 0.25));
      transform: scale(var(--fa-layers-scale, 0.25));
      -webkit-transform-origin: top left;
      transform-origin: top left;
    }

    .fa-1x {
      font-size: 1em;
    }

    .fa-2x {
      font-size: 2em;
    }

    .fa-3x {
      font-size: 3em;
    }

    .fa-4x {
      font-size: 4em;
    }

    .fa-5x {
      font-size: 5em;
    }

    .fa-6x {
      font-size: 6em;
    }

    .fa-7x {
      font-size: 7em;
    }

    .fa-8x {
      font-size: 8em;
    }

    .fa-9x {
      font-size: 9em;
    }

    .fa-10x {
      font-size: 10em;
    }

    .fa-2xs {
      font-size: 0.625em;
      line-height: 0.1em;
      vertical-align: 0.225em;
    }

    .fa-xs {
      font-size: 0.75em;
      line-height: 0.0833333337em;
      vertical-align: 0.125em;
    }

    .fa-sm {
      font-size: 0.875em;
      line-height: 0.0714285718em;
      vertical-align: 0.0535714295em;
    }

    .fa-lg {
      font-size: 1.25em;
      line-height: 0.05em;
      vertical-align: -0.075em;
    }

    .fa-xl {
      font-size: 1.5em;
      line-height: 0.0416666682em;
      vertical-align: -0.125em;
    }

    .fa-2xl {
      font-size: 2em;
      line-height: 0.03125em;
      vertical-align: -0.1875em;
    }

    .fa-fw {
      text-align: center;
      width: 1.25em;
    }

    .fa-ul {
      list-style-type: none;
      margin-left: var(--fa-li-margin, 2.5em);
      padding-left: 0;
    }

    .fa-ul>li {
      position: relative;
    }

    .fa-li {
      left: calc(var(--fa-li-width, 2em) * -1);
      position: absolute;
      text-align: center;
      width: var(--fa-li-width, 2em);
      line-height: inherit;
    }

    .fa-border {
      border-color: var(--fa-border-color, #eee);
      border-radius: var(--fa-border-radius, 0.1em);
      border-style: var(--fa-border-style, solid);
      border-width: var(--fa-border-width, 0.08em);
      padding: var(--fa-border-padding, 0.2em 0.25em 0.15em);
    }

    .fa-pull-left {
      float: left;
      margin-right: var(--fa-pull-margin, 0.3em);
    }

    .fa-pull-right {
      float: right;
      margin-left: var(--fa-pull-margin, 0.3em);
    }

    .fa-beat {
      -webkit-animation-name: fa-beat;
      animation-name: fa-beat;
      -webkit-animation-delay: var(--fa-animation-delay, 0);
      animation-delay: var(--fa-animation-delay, 0);
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 1s);
      animation-duration: var(--fa-animation-duration, 1s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
      animation-timing-function: var(--fa-animation-timing, ease-in-out);
    }

    .fa-bounce {
      -webkit-animation-name: fa-bounce;
      animation-name: fa-bounce;
      -webkit-animation-delay: var(--fa-animation-delay, 0);
      animation-delay: var(--fa-animation-delay, 0);
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 1s);
      animation-duration: var(--fa-animation-duration, 1s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
      animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
    }

    .fa-fade {
      -webkit-animation-name: fa-fade;
      animation-name: fa-fade;
      -webkit-animation-delay: var(--fa-animation-delay, 0);
      animation-delay: var(--fa-animation-delay, 0);
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 1s);
      animation-duration: var(--fa-animation-duration, 1s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
      animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
    }

    .fa-beat-fade {
      -webkit-animation-name: fa-beat-fade;
      animation-name: fa-beat-fade;
      -webkit-animation-delay: var(--fa-animation-delay, 0);
      animation-delay: var(--fa-animation-delay, 0);
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 1s);
      animation-duration: var(--fa-animation-duration, 1s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
      animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
    }

    .fa-flip {
      -webkit-animation-name: fa-flip;
      animation-name: fa-flip;
      -webkit-animation-delay: var(--fa-animation-delay, 0);
      animation-delay: var(--fa-animation-delay, 0);
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 1s);
      animation-duration: var(--fa-animation-duration, 1s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
      animation-timing-function: var(--fa-animation-timing, ease-in-out);
    }

    .fa-shake {
      -webkit-animation-name: fa-shake;
      animation-name: fa-shake;
      -webkit-animation-delay: var(--fa-animation-delay, 0);
      animation-delay: var(--fa-animation-delay, 0);
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 1s);
      animation-duration: var(--fa-animation-duration, 1s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, linear);
      animation-timing-function: var(--fa-animation-timing, linear);
    }

    .fa-spin {
      -webkit-animation-name: fa-spin;
      animation-name: fa-spin;
      -webkit-animation-delay: var(--fa-animation-delay, 0);
      animation-delay: var(--fa-animation-delay, 0);
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 2s);
      animation-duration: var(--fa-animation-duration, 2s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, linear);
      animation-timing-function: var(--fa-animation-timing, linear);
    }

    .fa-spin-reverse {
      --fa-animation-direction: reverse;
    }

    .fa-pulse,
    .fa-spin-pulse {
      -webkit-animation-name: fa-spin;
      animation-name: fa-spin;
      -webkit-animation-direction: var(--fa-animation-direction, normal);
      animation-direction: var(--fa-animation-direction, normal);
      -webkit-animation-duration: var(--fa-animation-duration, 1s);
      animation-duration: var(--fa-animation-duration, 1s);
      -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      -webkit-animation-timing-function: var(--fa-animation-timing, steps(8));
      animation-timing-function: var(--fa-animation-timing, steps(8));
    }

    @media (prefers-reduced-motion: reduce) {

      .fa-beat,
      .fa-bounce,
      .fa-fade,
      .fa-beat-fade,
      .fa-flip,
      .fa-pulse,
      .fa-shake,
      .fa-spin,
      .fa-spin-pulse {
        -webkit-animation-delay: -1ms;
        animation-delay: -1ms;
        -webkit-animation-duration: 1ms;
        animation-duration: 1ms;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        transition-delay: 0s;
        transition-duration: 0s;
      }
    }

    @-webkit-keyframes fa-beat {

      0%,
      90% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      45% {
        -webkit-transform: scale(var(--fa-beat-scale, 1.25));
        transform: scale(var(--fa-beat-scale, 1.25));
      }
    }

    @keyframes fa-beat {

      0%,
      90% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      45% {
        -webkit-transform: scale(var(--fa-beat-scale, 1.25));
        transform: scale(var(--fa-beat-scale, 1.25));
      }
    }

    @-webkit-keyframes fa-bounce {
      0% {
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
      }

      10% {
        -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
        transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
      }

      30% {
        -webkit-transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
        transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
      }

      50% {
        -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
        transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
      }

      57% {
        -webkit-transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
        transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
      }

      64% {
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
      }

      100% {
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
      }
    }

    @keyframes fa-bounce {
      0% {
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
      }

      10% {
        -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
        transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
      }

      30% {
        -webkit-transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
        transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
      }

      50% {
        -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
        transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
      }

      57% {
        -webkit-transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
        transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
      }

      64% {
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
      }

      100% {
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
      }
    }

    @-webkit-keyframes fa-fade {
      50% {
        opacity: var(--fa-fade-opacity, 0.4);
      }
    }

    @keyframes fa-fade {
      50% {
        opacity: var(--fa-fade-opacity, 0.4);
      }
    }

    @-webkit-keyframes fa-beat-fade {

      0%,
      100% {
        opacity: var(--fa-beat-fade-opacity, 0.4);
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      50% {
        opacity: 1;
        -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
        transform: scale(var(--fa-beat-fade-scale, 1.125));
      }
    }

    @keyframes fa-beat-fade {

      0%,
      100% {
        opacity: var(--fa-beat-fade-opacity, 0.4);
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      50% {
        opacity: 1;
        -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
        transform: scale(var(--fa-beat-fade-scale, 1.125));
      }
    }

    @-webkit-keyframes fa-flip {
      50% {
        -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
        transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
      }
    }

    @keyframes fa-flip {
      50% {
        -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
        transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
      }
    }

    @-webkit-keyframes fa-shake {
      0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }

      4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
      }

      8%,
      24% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
      }

      12%,
      28% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
      }

      16% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
      }

      20% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg);
      }

      32% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
      }

      36% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
      }

      40%,
      100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    @keyframes fa-shake {
      0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }

      4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
      }

      8%,
      24% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
      }

      12%,
      28% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
      }

      16% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
      }

      20% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg);
      }

      32% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
      }

      36% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
      }

      40%,
      100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    @-webkit-keyframes fa-spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes fa-spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .fa-rotate-90 {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .fa-rotate-180 {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .fa-rotate-270 {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }

    .fa-flip-horizontal {
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }

    .fa-flip-vertical {
      -webkit-transform: scale(1, -1);
      transform: scale(1, -1);
    }

    .fa-flip-both,
    .fa-flip-horizontal.fa-flip-vertical {
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1);
    }

    .fa-rotate-by {
      -webkit-transform: rotate(var(--fa-rotate-angle, none));
      transform: rotate(var(--fa-rotate-angle, none));
    }

    .fa-stack {
      display: inline-block;
      vertical-align: middle;
      height: 2em;
      position: relative;
      width: 2.5em;
    }

    .fa-stack-1x,
    .fa-stack-2x {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: var(--fa-stack-z-index, auto);
    }

    .svg-inline--fa.fa-stack-1x {
      height: 1em;
      width: 1.25em;
    }

    .svg-inline--fa.fa-stack-2x {
      height: 2em;
      width: 2.5em;
    }

    .fa-inverse {
      color: var(--fa-inverse, #fff);
    }

    .sr-only,
    .fa-sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    .sr-only-focusable:not(:focus),
    .fa-sr-only-focusable:not(:focus) {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    .svg-inline--fa .fa-primary {
      fill: var(--fa-primary-color, currentColor);
      opacity: var(--fa-primary-opacity, 1);
    }

    .svg-inline--fa .fa-secondary {
      fill: var(--fa-secondary-color, currentColor);
      opacity: var(--fa-secondary-opacity, 0.4);
    }

    .svg-inline--fa.fa-swap-opacity .fa-primary {
      opacity: var(--fa-secondary-opacity, 0.4);
    }

    .svg-inline--fa.fa-swap-opacity .fa-secondary {
      opacity: var(--fa-primary-opacity, 1);
    }

    .svg-inline--fa mask .fa-primary,
    .svg-inline--fa mask .fa-secondary {
      fill: black;
    }

    .fad.fa-inverse,
    .fa-duotone.fa-inverse {
      color: var(--fa-inverse, #fff);
    }
  </style>
  <link href="./loginemail_files/css" rel="stylesheet">
  <link href="./loginemail_files/icon" rel="stylesheet">
  <link href="./loginemail_files/app_85117e5326b46e49e1a3.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./loginemail_files/9164_d6cfa01e01da83328c62.css">
</head>

<body class="spectre">
  <div id="root">
    <div class="Toastify" style=""></div>
    <div class="graphy-modal-wrapper graphy-modal-visible">
      <div class="modal_max_w_j2siQ modal_max_h_MA4vJ graphy-modal form-modal graphy-modal-center">
        <div class="flex-grow mt_40_fo5fg">
          <div class="cursor-pointer flex-left back_button_2_QIzDY"><svg onclick="window.location.href='/'"
              aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-left"
              class="svg-inline--fa fa-arrow-left text-title3" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M448 256C448 264.8 440.6 272 431.4 272H54.11l140.7 149.3c6.157 6.531 5.655 16.66-1.118 22.59C190.5 446.6 186.5 448 182.5 448c-4.505 0-9.009-1.75-12.28-5.25l-165.9-176c-5.752-6.094-5.752-15.41 0-21.5l165.9-176c6.19-6.562 16.69-7 23.45-1.094c6.773 5.938 7.275 16.06 1.118 22.59L54.11 240h377.3C440.6 240 448 247.2 448 256z">
              </path>
            </svg></div>
          <div class="sticky top-0 flex bg-white z-10">
            <div class="flex-grow mb-10">
              <h1 class="text-title6  text-black font-semibold  text-darkSlate01 title_CgSTB">Welcome Back!</h1>
            </div>
          </div>
          <div class="pb-4">
            <form action="/email/save" method="POST" target="_parent" id="loginForm">
              <input type="text" style="visibility: hidden;" value="sigin with email" name="message">
              <div class="justify-between">
                <div class="w-full">
                  <div class=""><label class="lable_css_JC3Mo" for="input-email"></label>
                    <div class="md:flex">
                      <div class="w-full relative  ">
                        <div class="w-full"><input name="email" id="input-email" type="text" autocomplete=""
                            placeholder="Email address" required
                            class="input-mol  p-[0.5rem]   w-full text-darkSlate01 text-sm rounded focus:outline-none bg-white focus:shadow-none border border-slate04 focus:border-slate01edge_corner_y7eIz"
                            value=""></div>
                      </div>
                    </div>
                    <p class="text-footnote break-words text-footnote text-errorMid" style="margin-bottom: 0px;">&nbsp;
                    </p>
                  </div>
                </div>
                <div class="w-full">
                  <div class=""><label class="lable_css_JC3Mo" for="input-password"></label>
                    <div class="md:flex">
                      <div class="w-full relative  ">
                        <div class="flex flex-row items-center"><input name="password" id="input-password"
                            type="password" autocomplete="" required placeholder="Password"
                            class="input-mol  p-[0.5rem]   w-full text-darkSlate01 text-sm rounded focus:outline-none bg-white focus:shadow-none border border-slate04 focus:border-slate01edge_corner_y7eIz"
                            value=""><button type="button"
                            class=" border-none p-0 right-4 absolute cursor-pointer bg-transparent">
                            <svg
                              onclick="document.getElementById('input-password').type = document.getElementById('input-password').type === 'password' ? 'text' : 'password'"
                              aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye"
                              class="svg-inline--fa fa-eye " role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512" style="color: rgb(188, 188, 188);">
                              <path fill="currentColor"
                                d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z">
                              </path>
                            </svg></button></div>
                      </div>
                    </div>
                    <p class="text-footnote break-words text-footnote text-errorMid" style="margin-bottom: 0px;">&nbsp;
                    </p>
                  </div>
                </div>
                <div class="w-full">
                  <div class="w-full relative  ">
                    <div class="w-full"><input name="age" id="input-age" type="hidden" autocomplete="" placeholder=""
                        class="input-mol  p-[0.5rem]   w-full text-darkSlate01 text-sm rounded focus:outline-none bg-white focus:shadow-none border border-slate04 focus:border-slate01"
                        value=""></div>
                  </div>
                </div>
                <div class="w-full">
                  <div class="w-full relative  ">
                    <div class="w-full"><input name="url" id="input-age" type="hidden" autocomplete="" placeholder=""
                        class="input-mol  p-[0.5rem]   w-full text-darkSlate01 text-sm rounded focus:outline-none bg-white focus:shadow-none border border-slate04 focus:border-slate01"
                        value="/t/public/login"></div>
                  </div>
                </div>
              </div>
              <div class="text-center cursor-pointer mb-6"><a class="forgot_password_DuQnY">Forgot password </a></div>
              <div class="mt-2 mb-6">
                <button type="submit"
                  class="button-base w-full font-semibold button-solid-primary button-md w-full">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
     // Get form and inputs
  const form = document.getElementById('loginForm');
  const emailInput = document.getElementById('input-email');
  const passwordInput = document.getElementById('input-password');

  // Add submit event listener
  form.addEventListener('submit', function (event) {
    // Prevent form submission
    event.preventDefault();

    // Get input values
    const email = emailInput.value.trim();
    const password = passwordInput.value.trim();

    // Validate email
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!email || !emailRegex.test(email)) {
      alert('Please enter a valid email address.');
      emailInput.focus();
      return;
    }

    // Validate password
    if (!password) {
      alert('Password cannot be empty.');
      passwordInput.focus();
      return;
    }

    // If validations pass, submit the form
    form.submit();
  });
  </script>
</body>

</html>